/* CSS cho header của trang thêm sản phẩm */
.discount-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

.discount-title {
    font-size: 24px;
    margin: 0; 
}

.header-actions {
    display: flex;
    align-items: center;
}

.reload-button {
    background-color: #cbcbcb; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 20px; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.reload-button:hover {
    background-color: #16a085; 
}


.return-insert {
    padding: 8px 12px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.return-insert:hover {
    background-color: #0359a9;
}

/* CSS cho header1 của trang giảm giá */
.discount-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.discount-total p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.filter {
    display: flex;
    gap: 15px; /* Thêm khoảng cách giữa các phần tử trong filter */
    align-items: center;
}

.sort,
.choose-directory,
.search-discount {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 150px; /* Đặt chiều rộng cố định cho các phần tử select */
}

.sort:hover,
.choose-directory:hover,
.search-discount:hover {
    border-color: #aaa;
}

.search-discount {
    width: 200px; /* Chiều rộng lớn hơn cho ô tìm kiếm */
}

.insert-discount {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.insert-discount:hover {
    background-color: #45a049;
}
/* Css cho trang discount info   */
.form-group .option-typediscount{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.discount-info-page{
    width:auto;
    padding-left: 20px;
    padding-top: 20px;
    padding: 30px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.discount-for-products{
    margin-top: 20px;
    width:auto;
    padding-left: 20px;
    padding-top: 20px;
    padding: 30px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}