/* src/components/Login.css */
.login-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-left: 100px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.background-image {
    width: 100%;
    height: 100%;
    opacity: 0.75;
    object-fit: cover;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền trắng mờ */

    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1.5s ease;

}

.login-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.login-box label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.login-box input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.login-box .forgot-password {
    text-align: right;
    font-size: 14px;
    margin-bottom: 15px;
}

.login-box .forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.or-divider {
    margin: 20px 0;
    font-size: 14px;
    color: #666;
    position: relative;
}

.or-divider:before,
.or-divider:after {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    background: #ccc;
    top: 50%;
    transform: translateY(-50%);
}

.or-divider:before {
    left: 0;
}

.or-divider:after {
    right: 0;
}

