.return-voucher {
    padding: 8px 12px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.return-voucher:hover {
    background-color: #0359a9;
}
