#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
  margin: 0 auto;
}

#cart {
  text-align: center;
}


#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(5){
  width: 280px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(6) input {
  width: 50px; /* Giảm chiều rộng */
  height: 30px; /* Giảm chiều cao */
  text-align: center;
  padding: 2px;
  border: 1px solid #e2e9e1;
  border-radius: 4px; /* Tùy chọn: bo tròn các góc */
}

#cart table thead {
  border: 2px solid #e2e9e1;
  border-left: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 15px;
}

