.sidebar {
    width: 200px;
    height: calc(100vh - 90px);
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    position: fixed;
    top: 85px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #000000;
    cursor: pointer;

}

.sidebar ul {
    list-style: none;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.sidebar li {
    color: #000000;

    margin: 5px 10px; 

    border-radius: 5px;
    padding: 10px 30px; 
    transition: background-color 0.3s, transform 0.3s; 
    width: 150px; 
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
.sidebar li svg {
    margin-right: 15px; /* Khoảng cách giữa icon và text */
    color: #000000; /* Màu sắc cho icon */
}
.sidebar a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    display: block; 
}

.sidebar li:hover {
    background-color: rgba(155, 157, 157, 0.2);
    transform: translateY(-2px); 
}

.sidebar a:hover {
    color: #919191;
}

.sidebar-item:hover{
    color: #919191;
}


.sub-menu {
    display: none; /* Ẩn submenu theo mặc định */
    flex-direction: column;
    width: 100%; /* Đảm bảo submenu chiếm hết chiều rộng của sidebar */
    padding-left: 20px; /* Tạo khoảng cách thụt vào cho submenu */
    margin-top: 5px;
    border: #000;
    


}

.sub-menu.show {
    display: block;
    top: 100%; /* Hiển thị các mục con khi bật */

}

.sub-menu li {
    padding: 8px 0; /* Khoảng cách giữa các mục con */
}

.sub-menu li::before {
    content: "•"; /* Thêm dấu chấm tròn */
    color: #666;
    margin-right: 5px;
    font-size: 20px;
}


.sub-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin-top: 5px;


}

.sub-menu li a:hover {
    color: #000;
}
.sidebar-item {
    position: relative;
    width: 100%;
}
