#page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#page-header.about-header {
  background-image: url("../../../assets/img/about/banner.png");
}
