.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

.product-title {
    font-size: 24px;
    margin: 0; 
}

.header-actions {
    display: flex;
    align-items: center;
}

.reload-button {
    background-color: #cbcbcb; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 20px; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.reload-button:hover {
    background-color: #16a085; 
}

.time-selector {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.specific-date-picker {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-left: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
/* Information below product header */
/* src/components/products/ProductHeader.css */

.product-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-total p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.filter {
    display: flex;
    gap: 15px; /* Thêm khoảng cách giữa các phần tử trong filter */
    align-items: center;
}

.sort,
.choose-directory,
.search-product {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    width: 150px; /* Đặt chiều rộng cố định cho các phần tử select */
}

.sort:hover,
.choose-directory:hover,
.search-product:hover {
    border-color: #aaa;
}

.search-product {
    width: 200px; /* Chiều rộng lớn hơn cho ô tìm kiếm */
}

.insert-product {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.insert-product:hover {
    background-color: #45a049;
}
