#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 h2 {
  font-size: 50px;
  color: #1a1a1a;

}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  transition: 0.02 ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 p {
  font-size: 20px;
  color: #465b52;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

#product1 .pro:hover img {
  transform: scale(1.1);
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 141, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  height: 20px;
  width: 20px;
  padding: 15px;
  border-radius: 50%;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro .star {
  font-size: 12px;
  color: rgb(243, 141, 25);
}

#product1 .pro .sc {
  height: 20px;
  width: 20px;
  padding: 15px;
  border-radius: 50%;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}


