
#about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-p1 {
  padding: 40px 80px;
}
.img-container {
  flex: 1;
  max-width: 50%;;
}
#about-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ddd
}
.content-container {
  flex: 1;
  max-width: 50%;
  padding-left: 40px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.text {
  text-align: left;
}

.text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text p {
  font-size: 20px;
  margin-bottom: 20px;
}

.text abbr {
  font-size: 18px;
  margin-bottom: 20px;
}

#about-app {
  text-align: center;
  margin-top: 40px;
}

#about-app .video {
  width: 60%;
  height: auto;
  margin: 30px auto 0 auto;
}

#about-app .video video {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
