.product-D-container {
  border-top: 2px solid #e5e7eb;
  padding-top: 0;
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.product-D-content {
  display: flex;
  gap: 1rem;
  margin: 1.25rem 1rem;
  align-items: stretch;
}

.product-D-images {
  display: flex;
  gap: 1rem;
  margin-left: 4rem;
  height: 100%;
  flex: 1;
}

.thumbnails-container {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  width: 150px;
}

.thumbnail-img {
  width: 24%;
  flex-shrink: 0;
  cursor: pointer;
}

.main-image-container {
  width: 150%;
  
}

.main-image {
  width: 510px;
  height: auto;
}

.product-D-info {
  flex: 1;
  max-width: 42rem;
  margin-right: 2.5rem;
}

.product-D-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.25rem;
}

.rating-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
}

.star-icon {
  width: 0.875rem;
}

.rating-count {
  padding-left: 0.5rem;
}

.productD-price {
  margin-top: 0.5rem;
  font-size: 1.875rem;
  font-weight: 500;
}

.product-description {
  margin-top: 0.5rem;
  color: #6b7280;
}

.size-selector {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.75rem 0;
}

.size-buttons {
  display: flex;
  gap: 0.5rem;
}

.size-button {
  border: 1px solid #e5e7eb;
  padding: 0.625rem 1rem;
  background-color: #f3f4f6;
  margin-top: 0.5rem;
}

.size-button.selected {
  border-color: #f97316;
}

.add-to-cart-btn {
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 0.875rem;
}

.add-to-cart-btn:active {
  background-color: #374151;
}

.divider {
  margin-top: 1rem;
}

.product-features {
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.description-section {
  margin-top: 2.5rem;
}

.tab-header {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}

.tab {
  border: 1px solid #e5e7eb;
  margin: 1.25rem 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.tab.active {
  border-bottom: 2px solid #000;
}

.description-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem;
  font-size: 0.875rem;
  color: #6b7280;
  line-height: 1.75;
}

.loading {
  opacity: 0;
}

@media (min-width: 640px) {
  .product-content {
    flex-direction: row;
    /* margin: 1.25rem 3.75rem; */
    margin: 30px 40px;
  }

  .product-images {
    flex-direction: row;
  }

  .thumbnails-container {
    flex-direction: column;
    width: 115px;
  }

  .thumbnail-img {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .main-image-container {
    width: 80%;
  }

  .divider {
    width: 100%;
  }
}
