.product-item {
  width: 22.5%;
  min-width: 250px;
  padding: 12px 11px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.product-item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-image {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  transition: transform 0.2s;
}

.product-image:hover {
  transform: scale(1.1);
}
.product-item h5 {
  font-size: 15px;
  margin: 10px 0;

}
.product-details {
  text-align: left;
  padding: 1px 0;
}

/* .product-brand {
  color: #606063;
  font-size: 0.75rem;
} */

.product-name {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 0.875rem;
}

.product-rating {
  font-size: 0.85rem;
  color: rgb(243, 141, 25);
  margin-top: 0;

}

.product-price {
  padding-top: 7px;
  font-size: 17px;
  margin-bottom: 0.75rem;
  margin-top: 1px;
  font-weight: bold;
  color: #088178;
}

.cart-icon {
  height: 20px;
  width: 20px;
  padding: 15px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
