.search-container {
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
  background-color: #f9fafb;
  text-align: center;
}

.search-input-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9ca3af;
  padding: 0.5rem 1.25rem;
  margin: 1.25rem 0.75rem;
  border-radius: 9999px;
  width: 75%;
}

.search-input {
  flex: 1;
  outline: none;
  background-color: inherit;
  font-size: 0.875rem;
  border-radius: 8px;
}

.search-icon {
  width: 1rem;
}

.close-icon {
  display: inline;
  width: 0.75rem;
  cursor: pointer;
}

@media (min-width: 640px) {
  .search-input-wrapper {
    width: 50%;
  }
}
