.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 60px;
    height: 60px;
    margin-right: 200px;
}

.search-box input {
    padding: 20px 40px;
    border: 1px solid #000000; 
    border-radius: 10px;
    width: 300px;
    height: 5px;
    background-color: #efefef;

}
.search-box {
    position: relative;
    margin: 0 10px;
}
.search-icon {
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: #aaa; 
}

.avatar-dropdown {
    position: relative; /* Để dropdown hiển thị đúng vị trí */
    margin-left: auto;
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px; /* Chiều rộng avatar */
    height: 50px;
    margin-right: 40px;
    border-radius: 50%; /* Bo tròn avatar */
    cursor: pointer; /* Con trỏ khi hover */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
    object-fit: cover; 
}
.link-button {
    padding: 20px 10px; /* Padding cho các mục trong dropdown */
    text-decoration: none; /* Bỏ gạch chân */
    display: block; /* Đảm bảo mỗi mục trong dropdown chiếm toàn bộ chiều rộng */
    font-size: 14px;
    color: #333; /* Màu chữ */
    background: none; /* Không có background */
    border: none; /* Bỏ border */
    cursor: pointer; /* Con trỏ khi hover */
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}
.link-button:hover{
    background-color: #f1f1f1;
}
.dropdown-content-header {
    width: 175px;
    height: auto;
    display: none; /* Ẩn dropdown mặc định */
    position: absolute;
    text-align: left;
    top: 100%;
    right: 0;
    left: 10;
    background-color: #ececec; /* Màu nền cho dropdown */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho dropdown */
    z-index: 1; /* Đảm bảo dropdown hiển thị trên các thành phần khác */
    border-radius: 10px;
    margin-right: 30px;
}

.avatar-dropdown:hover .dropdown-content-header {
    display: block; /* Hiển thị dropdown khi hover vào avatar */
}

.dropdown-content-header a {
    padding: 20px 10px; /* Padding cho các mục trong dropdown */
    text-decoration: none; /* Bỏ gạch chân */
    color: #333; /* Màu chữ */
    display: block; /* Đảm bảo mỗi mục trong dropdown chiếm toàn bộ chiều rộng */
    font-size: 14px;
    transition: color 0.3s ease;
}

.dropdown-content-header a:hover {
    background-color: #f1f1f1; /* Màu nền khi hover vào mục dropdown */
}
.dropdown-content-header svg{
    margin-right: 15px; /* Khoảng cách giữa icon và text */
    color: #000000; /* Màu sắc cho icon */
}
.dropdown-content-header a:last-child:hover {
    color: #ff0000; /* Đảm bảo màu đỏ cho mục "Đăng xuất" */
}
