/* src/components/vouchers/CreateVoucherPage.css */
.create-voucher-page {
    width:auto;
    padding-left: 20px;
    padding-top: 20px;
    padding: 30px;
    margin-right: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.create-voucher-container {
    margin: auto;
}


.create-voucher-container p {
    color: #666;
}

.create-voucher-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-voucher-form .form-group {
    margin-bottom: 20px;
    width: auto;
    margin-right: 10px;

}
.create-voucher-form .form-row {
    display: flex;
    width: 100%;
    gap: 30px;
}

.form-group label {
    font-weight: bold;
}


.save-button {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.save-button:hover {
    background-color: #218838;
}
